* {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
}

body { 
	margin:0; 
	padding:0; 
	font-family: 'Lato', sans-serif;
}

header {
	
	width: 100%;
	background-color: white;
	position: relative;
	z-index: 200;
}

a {
	color: #19920A;
	text-decoration: none;
}

a:hover {
	color: #24d20f;
	text-decoration: underline;
}

#sjc-line {
	height: 15px;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #eae958;
}
#sjc-logo {
	position: absolute;
	top: 2px;
	left: 10px;
	width: 100px;
}




#main-logo {
	display: block;
	margin: 0 auto;
	padding-top: 20px;
	width: 200px;
}



.menu {
	display: block;
	text-align: center;
	margin: 0;

	padding: 10px 0;

	overflow: visible;
	text-transform: uppercase;
}


.menu li a {
	text-decoration: none;
	color: black;

}


#big-nav {
	display: none;
}

#mobile-nav {

}


#mobile-nav .menu-item {
	display: none;
	padding: 10px 0;

	background-color: white;
}
#mobile-nav #menu-bars {
	display: inline-block;
}

#mobile-nav .menu-item a {


	padding: 5px 10px;
}

#mobile-nav .menu-item a:hover {
	border-right: 1px solid black;
	border-left: 1px solid black;


}
img {
	width: 100%;
}

#map-image {
	border: 1px solid rgba(15, 70, 100, .12);
	border-radius: 10px;
}

.container {
	width: 90%;

	margin: 0 auto;
}

.heading {
	text-align: center;
	padding: 50px 0 10px 0;
}

iframe {
	border: none;
	width: 95% !important;
	margin: 0 auto !important;
	display: block !important;
}
#twitter-feed {
	border: 1px solid rgba(15, 70, 100, .12);

}
.top-content {
	width: 90%;
	max-width: 900px;
	margin: 0 auto;
	margin-top: 40px;
	clear: both;
}

.left-content {
	width: 100%;
	float: none;
}
.right-content {
	width: 100%;
	float: none;

}

.bottom-content {
	width: 70%;
	margin: 0 auto;
	clear: both;
}

.donate {
	text-align: center;
	padding-top: 10px;
}

.center-content {
	width: 90%;
	margin: 0 auto;
	max-width: 600px;
	min-height: calc(100vh - 69px - 132px);
}

.center-content h4 {
	padding: 25px 0 3px 0;
}

.center-content ul {
	padding: 0;
	list-style-type: none;
}

.center-content ul {
	padding: 0;
}

.center-content li {

	
	padding: 5px 0;
	margin: 0;
}

.center-content p {
	padding: 10px 0;
}

.center-content img {
	padding: 10px 0;
}

.center-content form {
	padding-top: 40px;
	text-align: center;
}

.center-content .bold {
	font-weight: bold;
}

.center-content .italic {
	font-weight: normal;
	font-style: italic;
}
.example-tweet {
	display: block;
	width: 80%;
	margin: 0 auto;
	font-style: italic;
	padding-bottom: 10px;
}

#map { 
	position:absolute; 
	top:132px; 
	bottom:69px;
	width: 100%;
	z-index: 0;

}



footer {
	padding:15px 0;
	width: 100%;
	text-align: center;
}

#mapfooter {
	position: absolute;
	bottom: 0;
	background-color: white;
}



footer p {
	font-size: .7em;


}

#tweecool {
	display: none;
}

.leaflet-container a {
	color: #19920A;
	text-decoration: none;
}

.leaflet-container a:hover {
	color: #24d20f;
	text-decoration: underline;
}

.leaflet-container .marker-title {
	font-size: 1.5em;
	padding: 5px 0;
}

@media (min-width: 768px) {



	header {

	}
	#main-logo {
		padding-top: 30px;
		width: 300px;
	}
	#sjc-line {
	height: 27px;
}
#sjc-logo {
	left: 40px;
	width: 200px;

}

	#mobile-nav {
		display: none;
	}
	#big-nav {
		display: block;
	}
	#big-nav .menu-item {
		padding: 0 10px;
		display: inline-block;
	}

	#mobile-nav #menu-bars {
		display: none;
	}

	#big-nav li a:hover {
		border-bottom: 1px solid black;
		border-top: 1px solid black;


	}


	.left-content {
	width: 60%;
	float: left;
}
.right-content {
	width: 40%;
	float: right;

}
.center-content {
	min-height: calc(100vh - 69px - 179px);
}

	#map { 
		top:179px; 
		bottom:69px;


	}




}